.footer{
	width:100%;
	height:380px;
	background-image:url(../img/img-divider-img.jpg);
    background-repeat: round;
    background-position: bottom;
    background-size: cover;
    .iconos{
    	margin-left:20.5%;
    }
    span{
    	img{
    		width:10%;
    		height:70px;
    		margin-top:7%;
    		margin-left:1%;
    	}
    } 
}
.info-footer{
	width:100%;
	height:190px;
	background-color:$verde;
	h6{
		font-size:$enlace;
		color:$blanco;
		text-align:center;
	}
	ul{
		list-style:none;
		color:$blanco;
		text-align:center;
		margin-top:7%;
		li{
			margin-top:4%;
		}
	}
	   
}
.info-footer{
	hr{
		width:50px;
		margin-left:39%;
		margin-top: -2%;
		margin-bottom:6%;
	}
	span{
		display:inline-block;
		width:35px;
		height:35px;
		background-color:$grisObscuro;
		margin-left:-50%;
		margin-top:6%;
		color:orange;
		text-align:center;
		i{
			margin-top:10%;
		}
	}
	input{
		display:inline-block;
		width:200px;
		height:35px;
		top:-8%;
	}
}
button{
	width:120px;
	height:40px;
	margin-left:25%;
	margin-top:6%;
	color: $blanco;
	border-radius:8%;
	background-color:$grisObscuro;
}