@mixin margen($top, $left) {
    margin-top: $top;
    margin-left: $left;
}


.navbar{
	background-color:$verde;
	img{
		@include margen(7%, 30%);
	}
	ul{
		list-style:none;
		li{
			display:inline-block;
			color:white;
			@include margen(5%,7%);
		}
	}
}