@mixin flex-column{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
@mixin flex-row{
  @extend .row ;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

@mixin linea {
  padding: 0.03em;
  background-color: $blanco ;
}
