* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto; }


.templateRow, .row:before, .bloque-precios__ofertas:before, .contacto:before, .row:after, .bloque-precios__ofertas:after, .contacto:after {
  content: " ";
  display: table; }

.row:after, .bloque-precios__ofertas:after, .contacto:after {
  clear: both; }

[class*="col-"] {
  min-height: 7px;
  padding: 12px;
  float: left; }

.col-1, .color-sec__linea, .bloque-precios__linea {
  width: 8.33333%; }

.col-2, .bloque-about-us__linea {
  width: 16.66667%; }

.col-3, .bloque-ofertas__elemento-oferta {
  width: 25%; }

.col-4, .bloque-ofertas__elemento-oferta--descripcion-boton span a {
  width: 33.33333%; }

.col-5 {
  width: 41.66667%; }

.col-6 {
  width: 50%; }

.col-7 {
  width: 58.33333%; }

.col-8 {
  width: 66.66667%; }

.col-9 {
  width: 75%; }

.col-10 {
  width: 83.33333%; }

.col-11, .bloque-precios__ofertas {
  width: 91.66667%; }

.col-12 {
  width: 100%; }

.col-1-offset {
  margin-left: anchoDeColumnas(1); }

.col-2-offset {
  margin-left: anchoDeColumnas(2); }

.col-3-offset {
  margin-left: anchoDeColumnas(3); }

.col-4-offset {
  margin-left: anchoDeColumnas(4); }

.col-5-offset {
  margin-left: anchoDeColumnas(5); }

.col-6-offset {
  margin-left: anchoDeColumnas(6); }

.col-7-offset {
  margin-left: anchoDeColumnas(7); }

.col-8-offset {
  margin-left: anchoDeColumnas(8); }

.col-9-offset {
  margin-left: anchoDeColumnas(9); }

.col-10-offset {
  margin-left: anchoDeColumnas(10); }

.col-11-offset {
  margin-left: anchoDeColumnas(11); }

.col-12-offset {
  margin-left: anchoDeColumnas(12); }

.navbar {
  background-color: #27ad60;
  width: 100%;
  height: 100px; }
  .navbar img {
    margin-top: 7%;
    margin-left: 30%; }
  .navbar ul {
    list-style: none; }
    .navbar ul li {
      display: inline-block;
      color: white;
      margin-top: 5%;
      margin-left: 7%; }

.home {
  width: 102%;
  height: 300px; }
  .home img {
    width: 100%;
    height: 300px;
    margin-top: -2%;
    margin-left: -1%; }
  .home h1 {
    margin-top: -19%;
    margin-left: 4%;
    color: white;
    font-size: 40px;
    text-align: center;
    font-family: "Roboto";
    letter-spacing: 1.5px; }
  .home h6 {
    color: white;
    font-size: 19px;
    text-align: center;
    letter-spacing: 2px;
    font-family: "Roboto";
    margin-top: 3%;
    margin-left: 1%; }

.color-sec {
  text-align: center; }
  .color-sec h1 {
    font-family: "Roboto";
    font-size: 2em;
    color: #443e44; }
  .color-sec__linea {
    padding: 0.03em;
    background-color: white; }
  .color-sec__linea--gris {
    background-color: #443e44 !important; }
  .color-sec__division {
    clear: both;
    margin-bottom: 70px; }
  .color-sec__cuadro, .color-sec__cuadro--color1, .color-sec__cuadro--color2, .color-sec__cuadro--color3, .color-sec__cuadro--color4, .color-sec__cuadro--color5, .color-sec__cuadro--color6, .color-sec__cuadro--color7, .color-sec__cuadro--color8, .color-sec__cuadro--color9, .color-sec__cuadro--color10, .color-sec__cuadro--color11, .color-sec__cuadro--color12, .color-sec__cuadro--color13, .color-sec__cuadro--color14, .color-sec__cuadro--color15, .color-sec__cuadro--color16, .color-sec__cuadro--color17, .color-sec__cuadro--color18, .color-sec__cuadro--color19, .color-sec__cuadro--color20, .color-sec__cuadro--color21, .color-sec__cuadro--color22, .color-sec__cuadro--color23, .color-sec__cuadro--color24, .color-sec__cuadro--color25 {
    height: 120px;
    float: left;
    margin-bottom: 8px; }
  .color-sec__cuadro--color1 {
    background-color: #69d2e7; }
  .color-sec__cuadro--color2 {
    background-color: #a7dbdb; }
  .color-sec__cuadro--color3 {
    background-color: #E0E4CC; }
  .color-sec__cuadro--color4 {
    background-color: #F38630; }
  .color-sec__cuadro--color5 {
    background-color: #FA6900; }
  .color-sec__cuadro--color6 {
    background-color: #E94C6F; }
  .color-sec__cuadro--color7 {
    background-color: #542733; }
  .color-sec__cuadro--color8 {
    background-color: #5A6A62; }
  .color-sec__cuadro--color9 {
    background-color: #C6D5CD; }
  .color-sec__cuadro--color10 {
    background-color: #FDF200; }
  .color-sec__cuadro--color11 {
    background-color: #DB3340; }
  .color-sec__cuadro--color12 {
    background-color: #E8B71A; }
  .color-sec__cuadro--color13 {
    background-color: #F7EAC8; }
  .color-sec__cuadro--color14 {
    background-color: #1FDA9A; }
  .color-sec__cuadro--color15 {
    background-color: #28ABE3; }
  .color-sec__cuadro--color16 {
    background-color: #588C73; }
  .color-sec__cuadro--color17 {
    background-color: #F2E394; }
  .color-sec__cuadro--color18 {
    background-color: #F2AE72; }
  .color-sec__cuadro--color19 {
    background-color: #D96459; }
  .color-sec__cuadro--color20 {
    background-color: #8C4646; }
  .color-sec__cuadro--color21 {
    background-color: #D0C91F; }
  .color-sec__cuadro--color22 {
    background-color: #85C4B9; }
  .color-sec__cuadro--color23 {
    background-color: #008BBA; }
  .color-sec__cuadro--color24 {
    background-color: #DF514C; }
  .color-sec__cuadro--color25 {
    background-color: #DC403B; }
  .color-sec__text {
    margin-top: 10px;
    color: #443e44;
    font-family: "Roboto Condensed";
    font-size: 1.2em; }

.bloque-verde {
  background-color: #27ad60; }

.bloque-precios {
  min-height: 70vh;
  background-color: #2c3e50;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center; }
  .bloque-precios__titulo {
    color: white;
    padding: 1em;
    text-transform: uppercase;
    font-family: "Roboto";
    font-size: 2em; }
  .bloque-precios__linea {
    padding: 0.03em;
    background-color: white; }
  .bloque-precios__descripcion {
    font-size: 0.8em;
    font-family: "Roboto";
    padding: 1em;
    color: white; }
  .bloque-precios__ofertas {
    min-height: 10vh;
    padding-top: 4em;
    padding-bottom: 4em; }
.bloque-ofertas, .bloque-ofertas__elemento-oferta--precio {
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .bloque-ofertas__elemento-oferta {
    border: aqua solid .03em;
    margin: 0em .5em;
    text-align: center;
    text-transform: uppercase;
    background-color: transparent;
    color: white; }
    .bloque-ofertas__elemento-oferta--precio {
      background-color: #27ad60;
      align-content: flex-start;
      min-height: 6em; }
      .bloque-ofertas__elemento-oferta--precio .precioTitulo {
        font-size: 2em;
        font-family: "Roboto"; }
        .bloque-ofertas__elemento-oferta--precio .precioTitulo span {
          font-size: 0.4em; }
    .bloque-ofertas__elemento-oferta--descripcion {
      padding: 1em;
      text-transform: capitalize;
      font-size: 0.8em; }
      .bloque-ofertas__elemento-oferta--descripcion-azul {
        color: #2c3e50;
        background-color: white; }
      .bloque-ofertas__elemento-oferta--descripcion-boton {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        justify-content: center;
        align-items: center;
        padding: 4em 0; }
        .bloque-ofertas__elemento-oferta--descripcion-boton span a {
          text-decoration: none;
          padding: .5em;
          color: white;
          background-color: #443e44; }

.borde--naranja {
  border: solid #e67e22 0.1em; }

.margin--bot {
  margin-bottom: 6em; }

.tituloPrecio {
  font-family: "Roboto";
  font-weight: lighter;
  padding: 1em;
  color: #c1c1bb;
  font-size: 0.81818em;
  text-transform: uppercase; }

.contacto {
  padding-top: 100px;
  text-align: center;
  background-color: #2c3e50;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: center;
  font-family: "Roboto"; }
  .contacto__col {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center; }
  .contacto__titulo {
    align-items: flex-start;
    color: #fff;
    font-size: 2em;
    margin: 15px 0; }
  .contacto__subtitulo {
    color: #fff;
    font-size: 0.7em;
    margin-bottom: 35px; }
  .contacto__parrafo {
    color: #c1c1bb;
    font-size: 0.8em;
    font-style: italic; }
    .contacto__parrafo--textoNaranja {
      margin: 7px 0 40px 0;
      color: #e67e22;
      font-style: normal; }
  .contacto__formulario {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    margin: 170px 0 10px 0; }
    .contacto__formulario--text, .contacto__formulario--textarea {
      padding: 5px;
      margin: -5px;
      width: 100%; }
    .contacto__formulario--boton {
      background-color: #443e44;
      color: #fff;
      border: 0;
      padding: 7px 10px;
      font-size: 0.8em; }
  .contacto__required {
    position: relative;
    left: -250px;
    color: #fff;
    font-size: 0.8em;
    margin-bottom: 125px; }
  .contacto__separator {
    width: 17%;
    height: 2px;
    background-color: #c1c1bb;
    margin: 10px 0 15px 0; }

.bloque-about-us {
  background-color: #2c3e50; }
  .bloque-about-us__titulo {
    font-family: "Roboto";
    font-size: 2em;
    text-align: center;
    color: white; }
  .bloque-about-us__linea {
    padding: 0.03em;
    background-color: white; 
    margin: 1%; }
  .bloque-about-us__texto {
    color: white;
    padding: 5%;
    font-family: "Roboto"; }

.contenedor-about-Img {
  width: 40%;
  height: 40%; }
  .contenedor-about-Img__img {
    width: 100%;
    height: 100%; }
.footer {
  width: 100%;
  height: 380px;
  background-image: url(../img/img-divider-img.jpg);
  background-repeat: round;
  background-position: bottom;
  background-size: cover; }
  .footer .iconos {
    margin-left: 20.5%; }
  .footer span img {
    width: 10%;
    height: 70px;
    margin-top: 18%;
    margin-left: 1%; }

.info-footer {
  width: 100%;
  height: 190px;
  background-color: #27ad60; }
  .info-footer h6 {
    font-size: 1.2em;
    color: white;
    text-align: center; }
  .info-footer ul {
    list-style: none;
    color: white;
    text-align: center;
    margin-top: 7%; }
    .info-footer ul li {
      margin-top: 4%; }

.info-footer hr {
  width: 50px;
  margin-left: 39%;
  margin-top: -2%;
  margin-bottom: 6%; }
.info-footer span {
  display: inline-block;
  width: 35px;
  height: 35px;
  background-color: #443e44;
  margin-left: -50%;
  margin-top: 6%;
  color: orange;
  text-align: center; }
  .info-footer span i {
    margin-top: 10%; }
.info-footer input {
  display: inline-block;
  width: 200px;
  height: 35px;
  top: -8%; }

button {
  width: 120px;
  height: 40px;
  margin-left: 25%;
  margin-top: 6%;
  color: white;
  border-radius: 8%;
  background-color: #443e44; }


/*# sourceMappingURL=main.css.map */
